body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.jumbotron {
	margin: 10px;
}
.header{
	float:right;
	margin: 0 auto;
	text-align: left;
}
header {
	padding: 20px 10px;
}
.container {
	display: flex;
	text-align: center;
	align-content: center;
}